.demo-card-wide.mdl-card {
    width: 350px;
    display: inline-block;
    margin: 8px;
    float: left;
    height: 570px;
}

#get {
    margin-top: 1em;
}

.branch-card {
    border-radius: 2em;
}

.wide {
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
    background: #ccc;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 350px;
}

#light-back {
    padding: 2em;
    background: rgba(255,255,255,0.9);
}

.center {
    margin: auto;
}

.status {
    position: absolute;
    bottom: 0px;
    font-weight: bolder;
}

.fill {
    width: 100%;
}

div#cards {
    display: flex;
    flex-wrap: wrap;
}

header,
h1,
h2.mdl-card__title-text {
    background-color: rgba(130, 122, 122, 0.9);
    width: 100%;
}

div {
    text-align: center;
}

body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png");
}

#branches {
    display: none;
    padding-bottom: 2em;
}

#repo {
    display: none;
}

th {
    text-align: center;
}

.commitsBox {
    display: inline-block;
}

.userBox {
    display: inline-block;
}

.status-ahead {
    background: #64FA78;
    color: #35783c;
}

.status-diverged {
    background: #FA6464;
    color: #783030;
}

.status-identical {
    background: #649FFA;
    color: #305478;
}

.status-behind {
    background: #fa9664;
    color: #784730;
}